huggingface_hub
mss
pynput
opencv-python
pyqt6

# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126

onnxruntime # CPU version
# onnxruntime-gpu # GPU version

ultralytics # yolo